@tailwind base;
@tailwind components;
@tailwind utilities;

#advertisement-card h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: 700;
    text-align: center;
}

#advertisement-card li {
    /* list-style-type: disc; */
    font-size: small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifPoppishadow;
    list-style-image: url('../../public/assets/check-mark-small.png');
}

#advertisement-card p {
    font-size: small;
    font-weight: 300;
}